# --- OS & System Files ---
.DS_Store
Thumbs.db

# --- Python ---
__pycache__/
*.pyc
.venv/
venv/
env/
*.egg-info/

# --- dbt ---
# Ignore compiled SQL and run artifacts
/3_dbt_models/target/
/3_dbt_models/dbt_modules/
/3_dbt_models/logs/
**/target/

# --- Airflow ---
# Ignore logs and temp files
/2_orchestration/airflow-docker/logs/
/2_orchestration/airflow-docker/*.pid
/2_orchestration/airflow-docker/airflow-webserver.err
/2_orchestration/airflow-docker/airflow-webserver.out
/2_orchestration/airflow-docker/config

# --- IDEs ---
.vscode/
.idea/

# --- Secrets & Local Configs ---
profiles.yml
.env